$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "../../bower_components/bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

.map {
  position: relative;
  margin: 0 auto;
  width: 800px;
  height: 500px;
}

/* Space out content a bit */
body {
  padding-top: 20px;
  padding-bottom: 20px;
}

